<h2>Familia</h2>
<hr>

<ul class = "list-group">
    <li routerLink=""    

    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    class="list-group-item">
        Home Page
    </li>
    <li routerLink="familia/crear"
    routerLinkActive="active"
    class="list-group-item">
        Crear Familia
    </li>
    
    <li routerLink="familia/por-identificacion"
    routerLinkActive="active"
    class="list-group-item">
        Consultar por Identificación
    </li>

    <li routerLink="familia/por-nombre"
    routerLinkActive="active"
    class="list-group-item">
        Consultar por Nombre
    </li>
</ul>
